#content-wrapper {
  width: calc(100% - 280px);
  height: 100vh;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.text-ellipsis {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position-sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

#dropzone {
    width: 100%;
    height: 200px;
    border: 2px #939393 dashed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
}

#dropzone p {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

.import-container {
  position: sticky;
  top: 0;
}

#brand-container img {
  width: 120px;
}

.product.card h5 > a {
  font-size: 16px;
  color: var(--bs-card-title-color);
  text-decoration: none;
}

.product.card p.fs-6 {
  font-size: 10px !important;
}

.product.card .card-title {
  height: 50px;
}

table td img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

table td h5 {
  font-size: 0.8rem;
}

#main-img-preview img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.search-result {
  position: absolute;
  background: white;
  border-radius: 6px;
  width: 100%;
  margin-top: 4px;
  padding: 10px 0px;
}

.search-result li {
  list-style: none;
  padding: 6px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result li > a {
  text-decoration: none;
  color: var(--bs-body-color);
  font-size: 0.8rem;
  white-space: nowrap;
}

.search-result li:hover {
  background-color: #f1f1f1;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
