.text-ellipsis {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dropzone {
    width: 100%;
    height: 200px;
    border: 2px #939393 dashed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
}

#dropzone p {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

.import-container {
  position: sticky;
  top: 0;
}
