#content-wrapper {
  width: calc(100% - 280px);
  height: 100vh;
  overflow-y: auto;
}

.text-ellipsis {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position-sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

#dropzone {
    width: 100%;
    height: 200px;
    border: 2px #939393 dashed;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
}

#dropzone p {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

.import-container {
  position: sticky;
  top: 0;
}

#brand-container img {
  width: 120px;
}

.product.card h5 > a {
  font-size: 16px;
  color: var(--bs-card-title-color);
  text-decoration: none;
}

.product.card p.fs-6 {
  font-size: 10px !important;
}

.product.card .card-title {
  height: 50px;
}