.loader-full-container {
    width: calc(100% - 280px);
    background: #00000094;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

.loader-full-container.show {
  display: flex;
}

.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}
.loader:before , .loader:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #FFF;
  animation: slide 1s infinite linear alternate;
  opacity: 0.5;
}
.loader:after {
  animation: slide2 1s infinite linear alternate;
  opacity: 1;

}
@keyframes slide {
  0% , 20% {  transform: translate(0, 0)  }
  80% , 100% { transform: translate(15px, 15px) }
}
@keyframes slide2 {
  0% , 20% {  transform: translate(0, 0) }
  80% , 100% { transform: translate(-15px, -15px) }
}
