.container.product {
  margin-top: 100px;
}

.product h1 {
  font-size: 20px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 80px;
}

.swiper-slide {
  text-align: center;
  font-size: 12px;
  background: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}