name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-runner:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Who am I
        run: |
          uname -a
          docker --version
          docker compose version
